.container-addcontact{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.reg-but {

   
    width: 100%;
  display: flex;
  justify-content: space-between;
  
   
}

.reg-but div {
    display: flex;
    align-items:center;
    margin: 0;
    padding: 0;
}

.reg-but div i {
    padding-right: 10px;
}
.reg-but div h2 {
    font-weight: 200;
    font-size:larger;
    margin: 0;
    padding: 0;
 
}

.reg-but button {
    border: none;
    background-color: rgba(129, 74, 239, 0.354);
    height: 5vh;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
}

.reg-name,
.reg-num {
    width: 90%;
    height: 7vh;
    display: flex;
    align-items: center;
}

.reg-name i,
.reg-num i,
.reg-but i {
    width: 10%;
    font-size: 23px;
}

.reg-num i {
    font-size: 25px;
}
.reg-name input,
.reg-num input {
    margin: 0;
    padding: 0;
    width: 90%;
    height: inherit;
    background-color: hsl(220, 12%, 95%);
    color: gray;
    border: none;
    border-radius: 5PX;
}