/* styles.css */

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.container-addcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    justify-content: space-between;

}

.container-addcontact h1 {
    height: 180px;
    width: 180px;
    margin: 0;
    padding: 0;
}

.reg-but {

   
    width: 100%;
  display: flex;
  justify-content: space-between;
  
   
}
.cerrar {
    font-size: 23px;
}
.reg-but div i {
    margin-right: 15px;
}
.identificador {
    background-color: rgba(129, 74, 239, 0.354);
}
.reg-but div {
    display: flex;
    align-items:center;
    margin: 0;
    padding: 0;
    /* width: 50%; */
    /* background-color: orange; */
    /* justify-content: space-between; */
}

.cerrar {
    /* padding-right: 15px; */
}
.reg-but div h2 {
    font-weight: 200;
    font-size:larger;
    margin: 0;
    padding: 0;
 
}

.reg-but button {
    border: none;
    background-color: rgba(129, 74, 239, 0.354);
    height: 5vh;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}



.reg-name,
.reg-num,
.reg-gmail,
.reg-birthday {
    width: 90%;
    height: 7vh;
    display: flex;
    align-items: center;
}

.reg-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reg-name i,
.reg-num i,
.reg-but i,
.reg-gmail i,
.reg-birthday i{
    width: 10%;
    font-size: 23px;
}

.reg-but i {
    cursor: pointer;
}

.reg-num i {
    font-size: 25px;
}
.reg-name input,
.reg-num input,
.reg-gmail input,
.reg-birthday input {
    margin: 0;
    padding:0px 10px 0px 10px;
    width: 90%;
    height: inherit;
    background-color: hsl(220, 12%, 95%);
    color: gray;
    border: none;
    border-radius: 5PX;
}


@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .reg-but {
    
        margin: 0;
        padding: 0;
     }

     .reg-but div {
        margin: 0;
        padding: 0;
     }

     .reg-but button {
        height: 30px;
     }
    
    .reg-name,
.reg-num,
.reg-gmail,
.reg-birthday {
   /* background-color: red; */
   height: 40px;
}
}

/* @media only screen and (min-width: 768px) {
 .reg-but {
    
    margin: 0;
    padding: 0;
 }
 .ocultar {
    display: none;
 }
 
.reg-name,
.reg-num,
.reg-gmail,
.reg-birthday {
    height: 5vh;
}
  } */
  